@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 12rem;
    height: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}
h2{
    font-size: 3rem;
}